<footer class="container" style="margin-top:100px;">
  <p class="text-center">Copyright @2017 Rails102
    <br>Design by
    <a href="http://logdown.com/account/posts/1627569/edit">Dengying</a>

  </p>

</footer>
